/* General Changes START */

/* variables */
:root {
    --primary-color: #1a1d27;
    --secondary-color: #30ccff;
    --color-1: #19B1E2;
    --text-color: #f3f3f3;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: var(--primary-color);

}

.container {
    width: 1000px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 40px;
    min-height: 500px;
}

.hide {
    display: none;
}

/* General Changes END */
/* whole question box START */
.whole-question-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 470px;
}

/* whole question box END */

/* nav START */
nav {
    display: flex !important;
    flex-direction: row;
    gap: 10px;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-weight: bold;

}

nav>div {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}

/* nav END */

/* start button */
#start-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px 50px;
    border-radius: 10px;
    transition: .2s all linear;
    width: 300px;
    text-align: center;
    outline: none;
    border: none;
}
#start-button:disabled{
    opacity: .1;
}
#start-button:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* users-name */
#users-name {
    border: none;
    outline: none;
    padding: 20px;
    background-color: var(--color-1);
    color: var(--primary-color);
    font-size: 18px;
    border-radius: 10px;
    width: 300px;
}
#users-name::placeholder{
    color: var(--primary-color);
}



/* answer box START */

/* whole answer box */
.whole-answer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 50px;
}

/* each answer box */
.each-answer-box {
    cursor: pointer;
    transition: .2s linear;
    border: 5px solid var(--color-1);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.each-answer-box:hover {
    background-color: var(--color-1);
}

.each-answer-box:active {
    transform: scale(.9);
}

/* answer box END */

/* end screen START */
.end-screen {
    background-color: var(--secondary-color);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    gap: 10px;
    text-align: center;
    border-radius: 10px;
}

.end-screen * {
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;

}

.end-screen>span:nth-child(2) {
    background-color: green;
    color: var(--text-color);
}

.end-screen>span:nth-child(3) {
    background-color: red;
    color: var(--text-color);
}
.end-screen>span:nth-child(4) {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.end-screen button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s linear;
}

.end-screen button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.end-screen button:active {
    transform: scale(.9);
}

/* end screen END */

/* responsive */

/* 1440px */
@media only screen and (max-width:1440px) {
    .container {
        width: 800px;
        height: 500px;
    }

    .whole-question-box img {
        width: 300px;
    }

    .each-answer-box img {
        width: 80px;
    }
}

/* 1024px */
@media only screen and (max-width:1024px) {
    .container {
        width: 800px;
        height: 500px;
    }

    .whole-question-box img {
        width: 350px;
    }

    .each-answer-box img {
        width: 90px;
    }
}

/* 768px */
@media only screen and (max-width:768px) {
    .container {
        width: 600px;
        height: 500px;
    }

    .whole-question-box img {
        width: 300px;
    }

    .whole-answer-box {
        margin-top: 30px;
    }

    .each-answer-box img {
        width: 85px;
    }
}


/* 540px */
@media only screen and (max-width:540px) {
    .container {
        width: 500px;
    }
}

/* 425px */
@media only screen and (max-width:425px) {
    .container {
        width: 270px;
        height: 400px;
    }

    .whole-question-box img {
        width: 180px;
    }

    .whole-answer-box {
        margin-top: 60px;
    }

    .each-answer-box img {
        width: 50px;
    }

    nav {
        width: 200px;
    }

}