/* General Changes START */

/* variables */
:root {
    --primary-color: #1a1d27;
    --secondary-color: #30ccff;
    --color-1: #19B1E2;
    --hover: #05a2d6;
    --text-color: #f3f3f3;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: var(--primary-color);

}

.container {
    width: 1000px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 40px;
    min-height: 500px;
}

.hide {
    display: none !important;
}

/* General Changes END */
/* whole question box START */
.whole-question-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 470px;
}

/* whole question box END */

/* nav START */

/* progress bar */
#box {
    width: 1000px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

#progress-bar {
    height: 20px;
    background-color: var(--hover);
    border-radius: 10px;
}

/* nav */
nav {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-weight: bold;
    text-align: center;

}

nav>div:first-of-type>div {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 15px;
    border-radius: 10px;
    width: 90px;
}

#timer-current-question {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav>div {
    width: 1000px;
}

/* nav END */

/* start button */
.start-style {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    transition: .2s all linear;
    width: 300px;
    height: 50px;
    outline: none;
    border: none;
    font-size: 13px;
    text-align: left;
}

.start-style::placeholder {
    color: var(--primary-color);
}

/* start button */
#start-button {
    text-align: center;
}

#start-button:disabled {
    opacity: .1;
}


#start-button:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}



/* answer box START */

/* whole answer box */
.whole-answer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 50px;
}

/* each answer box */
.each-answer-box {
    cursor: pointer;
    transition: .2s linear;
    border: 5px solid var(--color-1);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.each-answer-box:hover {
    background-color: var(--hover);
}

.each-answer-box:active {
    transform: scale(.9);
}

/* answer box END */

/* end screen START */
.end-screen {
    background-color: var(--secondary-color);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    gap: 10px;
    text-align: center;
    border-radius: 10px;
    width: 600px;
}

.end-screen * {
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: .2s;
    width: 500px;
}

/* translate section */

.end-screen>span:nth-child(3) {
    background-color: green;
    color: var(--text-color);
}

.end-screen>span:nth-child(4) {
    background-color: red;
    color: var(--text-color);
}

.end-screen-spans {
    background-color: var(--primary-color);
    color: var(--text-color);
}


/* hoverAble buttons*/
.end-screen-spans-hoverAble {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.end-screen-spans-hoverAble:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.end-screen-spans-hoverAble:active {
    transform: scale(.9);
}

/* end screen END */

/* responsive */


/* 1920px */
@media only screen and (max-width:1920px) {
    .container {
        width: 1000px;
        height: 600px;
    }

    #box {
        width: 1000px;
    }

    .whole-question-box img {
        width: 350px;
    }

    .each-answer-box img {
        width: 120px;
    }
}

/* 1440px */
@media only screen and (max-width:1440px) {
    .container {
        width: 1000px;
    }
}

/* 1024px */
@media only screen and (max-width:1024px) {
    .container {
        width: 850px;
    }

    #box {
        width: 850px;
    }

    .whole-question-box img {
        width: 300px;
    }

    .whole-answer-box {
        margin-top: 30px;
    }

    .each-answer-box img {
        width: 100px;
    }
}

/* 768px */
@media only screen and (max-width:768px) {
    .container {
        width: 600px;
        height: 500px;
    }

    #box {
        width: 600px;
    }

    .whole-question-box img {
        width: 300px;
    }

    .whole-answer-box {
        margin-top: 30px;
    }

    .each-answer-box img {
        width: 85px;
    }
}


/* 540px */
@media only screen and (max-width:540px) {
    .container {
        width: 500px;
        height: 400px;
    }

    #box {
        width: 500px;
    }

    .end-screen {
        width: 450px;
    }

    .end-screen * {
        width: 400px;
    }

    .each-answer-box img {
        width: 70px;
    }
}

/* 425px */
@media only screen and (max-width:425px) {
    .container {
        width: 270px;
        height: 400px;
    }

    #box {
        width: 270px;
    }

    .whole-question-box img {
        width: 180px;
    }

    .whole-answer-box {
        margin-top: 60px;
    }

    .each-answer-box img {
        width: 50px;
    }

    nav {
        width: 200px;
    }

    .end-screen {
        width: 350px;
    }

    .end-screen * {
        width: 300px;
    }

}